@import '../../variables.scss';

.booking-summary {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  align-items: stretch;
  padding: 23px 22px 19px 28px;
  height: 100%;
  background-color: $color-white;
}

.booking-summary-btn-panel {
  display: flex;
  flex: 1 1 100%;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn-next {
  @extend .btn;
  flex: 1 1 60%;
  align-self: flex-end;
  width: 130px;
  height: 41px;
  color: $color-white;
  background-color: $color-red;
}

.btn-back {
  @extend .btn;
  flex: 1 1 40%;
  color: $color-grey-1;
  background-color: $color-white;
}
